<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин цветов</title>
</head>
<body>
    <a href="/">На главную<a/>
    <h1>Магазин цветов</h1>
    <a href="https://jungle.by">Джунгли.бай</a>
    <p> 
        О Jungle
        
        JUNGLE – это совершенно новый подход к появлению цветов в Вашем доме:
        
        230 квадратных метров зеленых джунглей, в которых обитают комнатные растения от классических фикусов до экзотических бананов, бонсаев разных размеров и растений-хищников
        Мини-сады с необычными суккулентами и кактусами, флорариумы и фитодекор
        Доставка букетов и горшечных растений
        Консультации биологов, пересадка растений
        Озеленение офисов и жилых помещений
        
        Каждый привык получать экспертную консультацию в мебельном салоне или магазине электроники. В салоне JUNGLE мы используем такой же подход при продаже растений. Здесь Вам не придется выбирать комнатное растение наугад. Биологи салона JUNGLE дадут исчерпывающую консультацию по любому растению, представленному в салоне и помогут выбрать именно то, что подойдет под условия вашего жилья и ожидания. А еще Вы сможете получить консультацию по уходу за приобретенным цветком спустя любое время после покупки. Достаточно позвонить в JUNGLE.
        
        Почему именно JUNGLE?
        
        Все самое новое, трендовое и необычное первым появляется в JUNGLE
        Прямые поставки растений и декора из Европы – всегда разнообразный и нестандартный ассортимент
        Самый большой флористический шоурум в Минске, где вживую можно выбрать из 1000 растений.
    <p/>
</body>
</html>